<!DOCTYPE html>
<html>

<head>
    <title>Movie Matrix</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <!-- Navigation -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/">Movie Recommender</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/top_10_genres">Top 10 Genres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/release_year_histogram">Release Year Histogram</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/kmeans_clusters">KMeans Clusters</a>
        </li>
    </ul>

    <div class="container">
        <h1 class="text-center mt-4">Movie Matrix Recommender</h1>
        <!-- Movie Recommender Section -->
        <!-- Movie Recommender Section -->
        <form action="/recommend" method="post" class="mb-4" id="recommendForm">
            <div class="quick-actions d-flex justify-content-between">
                <button type="button" onclick="submitGenre('Action')" class="btn btn-primary">Action</button>
                <button type="button" onclick="submitGenre('Stand-Up Comedy')" class="btn btn-primary">Comedy</button>
                <button type="button" onclick="submitGenre('TALK SHOWS')" class="btn btn-primary">Talk Shows</button>
                <button type="button" onclick="submitGenre('ANIME SERIES')" class="btn btn-primary">Anime</button>
                <button type="button" onclick="submitGenre('CRIME TV SHOWS')" class="btn btn-primary">Crime TV</button>
            </div>
            <div class="form-group">
                <label for="query">Enter a movie title or genre:</label>
                <input type="text" id="query" name="query" class="form-control" required/>
            </div>
            <input type="submit" value="Recommend" class="btn btn-primary mt-2"/>
        </form>

        <script>
            function submitGenre(genre) {
                document.getElementById('query').value = genre;
                document.getElementById('recommendForm').submit();
            }
        </script>

        <style>
            .quick-actions {
                margin-bottom: 10px;
            }

            .quick-actions .btn {
                flex: 1;
                margin-right: 5px;
            }

            .quick-actions .btn:last-child {
                margin-right: 0;
            }
        </style>


        <script>
            function submitGenre(genre) {
                document.getElementById('query').value = genre;
                document.getElementById('recommendForm').submit();
            }
        </script>


        {% if recommendations %}
            <h2 class="text-center mb-4">Recommended Movies:</h2>
            <div class="row">
                {% for movie in recommendations %}
                    {% if movie.poster_url %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <a href="#" onclick="submitGenre('{{ movie.title }}')">
                                    <img src="{{ movie.poster_url }}" class="card-img-top" alt="Movie Poster"/>
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="#" onclick="submitGenre('{{ movie.title }}')"
                                           class="text-decoration-none text-dark">{{ movie.title }}</a>
                                    </h5>
                                    <p class="card-text">Type: {{ movie.movie_or_tv_show }}</p>
                                    <p class="card-text">Rating: {{ movie.rating }}</p>
                                    <p class="card-text">Director: {{ movie.director }}</p>
                                    <p class="card-text">Country: {{ movie.country }}</p>
                                    <p class="card-text">
                                        Date Added to Platform: {{ movie.date_added_platform }}
                                    </p>
                                    <p class="card-text">Year Released: {{ movie.release_year }}</p>
                                    <p class="card-text">Duration: {{ movie.duration_seconds }}</p>

                                    <p class="card-text">
                                        Genres:
                                        {% for genre in movie.genre_type.split(',') %}
                                            <a href="#" onclick="submitGenre('{{ genre.strip() }}')"
                                               class="text-decoration-none text-primary">{{ genre }}</a>
                                            {% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>

                                    <p class="card-text" style="display: none" id="description-{{ movie.title }}">
                                        Description: {{ movie.description }}
                                    </p>
                                    <button onclick="toggleDescription('{{ movie.title }}')">Show/Hide Description
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function toggleDescription(title) {
        var element = document.getElementById("description-" + title);
        if (
            element.style.display === "none" ||
            element.style.display === ""
        ) {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }
</script>
</body>

</html>
